<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>柚子校园</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="stylesheet" href="https://www.youzixy.com/favicon.ico">
<<<<<<< HEAD
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1486839_hov95uidz76.css">
=======
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1486839_alnydu320xs.css">
>>>>>>> 094f7537bd8a4c0a760306b72026c67049c8b1e5
</head>
<body>
  <div id="root"></div>
</body>
</html>
