.page-detail {
  background: #f2f2f2;
  h1 {
    height: 1.173333rem;
    z-index: 666;
    width: 100%;
    text-align: center;
    font-size: 0.533333rem;
    line-height: 1.173333rem;
    font-weight: bold;
    position: fixed;
    background: #fff;
  }
  img {
    height: 8.213333rem;
    width: 100%;
  }
  .product {
    margin-top: -0.266667rem;
    background: #fff;
    padding: 0 0.32rem;
    dt {
      font-size: 0.426667rem;
      color: #303133;
      margin: 6px 0;
    }
    dd {
      font-size: 0.373333rem;
      color: #6d6d6d;
      padding-bottom: 0.266667rem;
      .price {
        font-size: 0.48rem;
        color: #fa436a;
      }
      del {
        margin-left: 0.16rem;
        font-size: 0.373333rem;
      }
      i {
        padding: 0.053333rem 0.133333rem;
        background: #fa436a;
        color: #fff;
        border-radius: 0.08rem;
        margin-left: 0.106667rem;
      }
      .browse {
        margin-left: 0.266667rem;
      }
    }
  }
  .auto {
    background: #fff;
    margin-top: 0.4rem;
    padding: 0.266667rem 0.32rem;
    font-size: 0.373333rem;
    dt {
      display: flex;
      img {
        width: 0.933333rem;
        height: 0.933333rem;
        border-radius: 0.933333rem;
        margin-right: 0.106667rem;
      }
      span {
        display: block;
      }
    }
    .tag {
      span {
        margin: 0 0.106667rem;
        background: #fa436a;
        padding: 0.053333rem;
        color: #fff;
        border-radius: 0.053333rem;
        font-size: 0.373333rem;
      }
    }
  }
  .pingrun {
    padding: 0.266667rem 0.32rem;
    font-size: 0.426667rem;
    background: #fff;
    margin-bottom: 1.7rem;
    p {
      display: flex;
      justify-content: space-between;
      :nth-child(2) {
        color: #07c160;
      }
    }
    :nth-child(2) {
      justify-content: center;
    }
  }
}
.scroll {
  height: 100%;
}
#root {
  overflow: auto;
}
.back {
  position: fixed;
  top: 0.133333rem;
  left: 0.133333rem;
  font-size: 0.533333rem;
  z-index: 999;
  width: 0.8rem;
  height: 0.8rem;
  color: #fff;
  text-align: center;
  display: block;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.5);
}
