.page-home {
  display: flex;
  flex-direction: column;
  height: 100%;
  .layout-home {
    flex: 1;
    overflow: auto;
  }
  .tapbar {
    display: flex;
    margin-bottom: 0;
    z-index: 666;
    background: #fff;
    border-top: 0.006667rem solid pink;
    .active {
      color: rgb(255, 65, 15);
    }
    a {
      flex: 1;
      display: flex;
      height: 1.333333rem;
      flex-direction: column;
      justify-content: center;
      color: rgb(112, 112, 112);
      align-items: center;
      .iconfont {
        font-size: 0.533333rem;
      }
      span {
        font-size: 0.426667rem;
      }
    }
  }
}
